<div class="booyah-box col-xs-10 col-xs-offset-1 about"> 
  <h1>About InnoHack</h1>
  <p>Innohack is an open-source project developed by students from The Firehose Project. It is an application where users can share anything they would like about programming. In addition, users can upvote a share, comment on a share, and add hashtags to a share.
  </p>
</div>