<div class="wrapper">
  <div class="frosty col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h1>Welcome to InnoHack</h1>
    <h3>Your online, worldwide hackerspace</h3>
  </div>
</div>
<br class="clear" />
<!-- Move the following line to User Dashboard -->
<%= image_tag current_user.gravatar_url %>
<!-- Or use this line if you want to set the size: -->
<%= image_tag current_user.gravatar_url(:size => 120) %>
