<div class="booyah-box col-xs-10 col-xs-offset-1">

  <h4>Update Your Skin!</h4>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'skin_1.png', class: 'img-responsive skins' %>
        <button id='btn1' class='btn btn-primary'>Skin 1</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'skin_2.png', class: 'img-responsive skins' %>
        <button id='btn2' class='btn btn-primary'>Skin 2</button>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag 'skin_3.png', class: 'img-responsive skins' %>
        <button id='btn3' class='btn btn-primary'>Skin 3</button>
      </div>  
    </div>
  </div>
</div>

