<div class="container-fluid dashboard col-sm-2">
	<%= image_tag current_user.gravatar_url(:size => 120) %>
	<br />

	<div class="col-sm-2">
	<br />
		<%= @user.email %>
	</div>
</div>

<div class="container-fluid">
	<div class="col-sm-10 dashboardr">
		<h1>User Posts</h1>
	</div>
</div>