.clear {
  clear:both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0; 
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px; 
}

.container-fluid {
}

.dashboard {
  background: gray;
}

.dashboardr {
  background: #bebebd;
}


.form-actions {
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn {
  margin: 5px;
}

.btn a, .btn a:hover {
  color: #fff;
  text-decoration: none;
}

.about p {
  margin-top: 25px;
}

.navbar {
  z-index: +10;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
  
}

.navbar-default  .container-fluid {
  background-image:url(cheap_diagonal_fabric.png);
  
}

html, body {
  padding: 0; margin: 0;
}

#earth_div {
  top: 0px; right: 0px; bottom: 50px; left: 0px; position: relative;
}

@media (min-width: 768px ) {
 .container {
    width: 100%;
  }
}

