
.clear {
  clear:both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0; 
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px; 
}


.form-actions {
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn {
  margin: 5px;
}

.btn a, .btn a:hover {
  color: #fff;
  text-decoration: none;
}

.about p {
  margin-top: 25px;
}

.navbar-default  {
  background-image:url(diagonal_fabric.png); 
}

.theme1 {
  background-image:url(theme_1.png);
}

.theme2 {
  background-image:url(theme_2.png);
}

.theme3 {
  background-image:url(theme_3.png);
}


.navbar-default .navbar-nav > li > a {
  color: #777676;
}

.navbar-default .navbar-brand {
  color: #777676;

.navbar {
  z-index: +10;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
  
}

html, body {
  padding: 0; margin: 0;
}

#earth_div {
  top: 0px; right: 0px; bottom: 50px; left: 0px; position: relative;
}

@media (min-width: 768px ) {
 .container {
    width: 100%;
  }
}

.theme1 .navbar-nav > li > a {
  color: #fff;
}


.theme1 .navbar-brand {
  color: #fff;
}

.theme1, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;  
}

.theme1, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;  
}

.theme2 .navbar-nav > li > a {
  color: #fff;
}

.theme2 .navbar-brand {
  color: #fff;
}

.theme3 .navbar-nav > li > a {
  color: #fff;
}

.theme3 .navbar-brand {
  color: #fff;
}
