.clear {
  clear:both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0; 
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px; 
}

.container-fluid {
}

.dashboard {
  background: gray;
}

.dashboardr {
  background: #bebebd;
}


.form-actions {
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn {
  margin: 5px;
}

.btn a, .btn a:hover {
  color: #fff;
  text-decoration: none;
}

.about p {
  margin-top: 25px;
}

.nav_img .container-fluid {
  background-image:url(cheap_diagonal_fabric.png); 
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.skin1  .container-fluid {
  background-image:url(Skin1.png);
  background-size: 80px 60px;
  
}

.skin2  .container-fluid {
  background-image:url(Skin2.png);
  background-size: 80px 60px; 
}
